src/eCH-0262-1-0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eCH-0262="http://www.ech.ch/xmlns/eCH-0262/1" xmlns:eCH-0108="http://www.ech.ch/xmlns/eCH-0108/7" xmlns:eCH-0261="http://www.ech.ch/xmlns/eCH-0261/1" xmlns:eCH-0263="http://www.ech.ch/xmlns/eCH-0263/1" targetNamespace="http://www.ech.ch/xmlns/eCH-0262/1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xs:annotation>
		<xs:documentation xml:lang="de">Agrardaten - Hofdaten und Verwendung Betriebsmittel</xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0108/7" schemaLocation="http://www.ech.ch/xmlns/eCH-0108/7/eCH-0108-7-0.xsd"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0261/1" schemaLocation="http://www.ech.ch/xmlns/eCH-0261/1/eCH-0261-1-0.xsd"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0263/1" schemaLocation="http://www.ech.ch/xmlns/eCH-0263/1/eCH-0263-1-0.xsd"/>
	<!--Hauptdatentypen-->
	<xs:complexType name="animalHoldingFormType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Tierhaltung</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="id" type="eCH-0261:identifierType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Identifikator</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="descriptor" type="eCH-0261:descriptorType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Beschreibung</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="animalHoldingKind">
				<xs:annotation>
					<xs:documentation xml:lang="de">Tierhaltungsart</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:enumeration value="STALL">
							<xs:annotation>
								<xs:documentation xml:lang="de">Stall</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="PASTURE">
							<xs:annotation>
								<xs:documentation xml:lang="de">Wiese</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="stableSystem" type="eCH-0263:stableSystemType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Stallsystem</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="permittedForAnimal" type="eCH-0261:identifierType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="de">Erlaubte Tierkategorien. Referenziert einen Code einer Spezies, welcher durch «zoologicalAnimalType» aus eCH-0266 definiert wird.
</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="storageType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Lager</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="id" type="eCH-0261:identifierType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Identifikator</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="descriptor" type="eCH-0261:descriptorType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Beschreibung</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="storageKind">
				<xs:annotation>
					<xs:documentation xml:lang="de">Lagertyp</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:enumeration value="SLURRY_TANK">
							<xs:annotation>
								<xs:documentation xml:lang="de">Güllelager</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="MANURE_PIT">
							<xs:annotation>
								<xs:documentation xml:lang="de">Mistgrube</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="volume">
				<xs:annotation>
					<xs:documentation xml:lang="de">Volumen (m3)</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="eCH-0262:measurementType">
							<xs:sequence>
								<xs:element name="value">
									<xs:simpleType>
										<xs:restriction base="xs:decimal"/>
									</xs:simpleType>
								</xs:element>
								<xs:element name="unit">
									<xs:simpleType>
										<xs:restriction base="eCH-0261:unitType">
											<xs:enumeration value="m3"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
							</xs:sequence>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="depth" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Tiefe (m)</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="eCH-0262:measurementType">
							<xs:sequence>
								<xs:element name="value">
									<xs:simpleType>
										<xs:restriction base="xs:decimal"/>
									</xs:simpleType>
								</xs:element>
								<xs:element name="unit">
									<xs:simpleType>
										<xs:restriction base="eCH-0261:unitType">
											<xs:enumeration value="m"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
							</xs:sequence>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="cover" type="eCH-0262:coverType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Abdeckung</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="location" type="eCH-0108:localIdType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Standort (BUR-Nummer)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="plantProtectionProductApplicationType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Anwendung Pflanzenschutzmittel</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="id" type="eCH-0261:identifierType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Identifikator</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="alternateId" type="eCH-0261:identifierType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Alternativer Identifikator</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dateOfApplication" type="eCH-0262:dateOfUtilisationType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Datum der Anwendung</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="product" type="eCH-0261:identifierType">
				<xs:annotation>
					<xs:documentation xml:lang="de">ID des angewendeten PSM-Produkts</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="quantity">
				<xs:annotation>
					<xs:documentation xml:lang="de">Menge mit zugehörender Einheit des verwendeten Produkts.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="eCH-0262:measurementType">
							<xs:sequence>
								<xs:element name="value">
									<xs:simpleType>
										<xs:restriction base="xs:decimal"/>
									</xs:simpleType>
								</xs:element>
								<xs:element name="unit">
									<xs:simpleType>
										<xs:restriction base="eCH-0261:unitType">
											<xs:enumeration value="m3"/>
											<xs:enumeration value="kg"/>
											<xs:enumeration value="pc"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="unitName" minOccurs="0">
									<xs:simpleType>
										<xs:restriction base="xs:token">
											<xs:maxLength value="50"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
							</xs:sequence>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="target">
				<xs:annotation>
					<xs:documentation xml:lang="de">Grösse bzw. Anzahl der Fläche, Kulturen, Stücke etc., auf welcher das Produkt angewendet wurde mit zugehöriger Einheit.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="eCH-0262:measurementType">
							<xs:sequence>
								<xs:element name="value">
									<xs:simpleType>
										<xs:restriction base="xs:decimal"/>
									</xs:simpleType>
								</xs:element>
								<xs:element name="unit">
									<xs:simpleType>
										<xs:restriction base="eCH-0261:unitType">
											<xs:enumeration value="m2"/>
											<xs:enumeration value="m3"/>
											<xs:enumeration value="pc"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="unitName" minOccurs="0">
									<xs:simpleType>
										<xs:restriction base="xs:token">
											<xs:maxLength value="50"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
							</xs:sequence>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="locationOfUtilisation" type="eCH-0108:localIdType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Standort (BUR-Nummer) des Betriebs auf welchem die Anwendung stattfindet.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice>
				<xs:sequence>
					<xs:element name="botanicalPlant" type="eCH-0261:identifierType">
						<xs:annotation>
							<xs:documentation xml:lang="de">Referenz (ID) einer botanischen Kultur, welche durch «botanicalPlantType» aus eCH-0265 definiert wird</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="variety" type="eCH-0261:identifierType" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="de">Optionale Angabe von Sorten</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:element name="cultivationType" type="eCH-0261:identifierType">
					<xs:annotation>
						<xs:documentation xml:lang="de">Referenz (ID) einer Nutzungsart, welche durch «cultivationTypeType» aus eCH-0265 definiert wird</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="nonCrop" type="eCH-0261:identifierType">
					<xs:annotation>
						<xs:documentation xml:lang="de">Referenz (ID) eines Objekts, wel-ches durch «NonCropObjectType» definiert ist</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element name="applicationArea" type="eCH-0261:identifierType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">ID einer georeferenzierten Anwendungsfläche</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="appliedBy" type="eCH-0108:uidType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Unternehmen, welches das Produkt angewendet hat</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="utilisationTechnology" type="eCH-0262:utilisationTechnologyType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Verwendete Anwendungstechnologie</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="comment" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Kommentar</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:maxLength value="200"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="manureRecyclingUtilisationType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Verwendung Hof- und Recyclingdünger</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="id" type="eCH-0261:identifierType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Identifikator</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="alternateId" type="eCH-0261:identifierType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Alternativer Identifikator</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dateOfUtilisation" type="eCH-0262:dateOfUtilisationType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Datum der Verwendung</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="product" type="eCH-0261:identifierType">
				<xs:annotation>
					<xs:documentation xml:lang="de">ID eines HofRec-Produkts</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="quantity">
				<xs:annotation>
					<xs:documentation xml:lang="de">Menge mit zugehörender Einheit des verwendeten Produkts.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="eCH-0262:measurementType">
							<xs:sequence>
								<xs:element name="value">
									<xs:simpleType>
										<xs:restriction base="xs:decimal"/>
									</xs:simpleType>
								</xs:element>
								<xs:element name="unit">
									<xs:simpleType>
										<xs:restriction base="eCH-0261:unitType">
											<xs:enumeration value="m3"/>
											<xs:enumeration value="kg"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="unitName">
									<xs:simpleType>
										<xs:restriction base="xs:token">
											<xs:maxLength value="50"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
							</xs:sequence>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="target">
				<xs:annotation>
					<xs:documentation xml:lang="de">Grösse der Fläche, auf welcher das Produkt verwendet wurde mit zugehöriger Einheit.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="eCH-0262:measurementType">
							<xs:sequence>
								<xs:element name="value">
									<xs:simpleType>
										<xs:restriction base="xs:decimal"/>
									</xs:simpleType>
								</xs:element>
								<xs:element name="unit">
									<xs:simpleType>
										<xs:restriction base="eCH-0261:unitType">
											<xs:enumeration value="m2"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
							</xs:sequence>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="locationOfUtilisation" type="eCH-0108:localIdType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Standort (BUR-Nummer) des Betriebs auf welchem die Anwendung stattfindet.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice minOccurs="0">
				<xs:element name="botanicalPlant" type="eCH-0261:identifierType">
					<xs:annotation>
						<xs:documentation xml:lang="de">Referenz (ID) einer botanischen Kultur, welche durch «botanicalPlantType» aus eCH-0265 definiert wird</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="cultivationType" type="eCH-0261:identifierType">
					<xs:annotation>
						<xs:documentation xml:lang="de">Referenz (ID) einer Nutzungsart, welche durch «cultivationTypeType» aus eCH-0265 definiert wird</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="nonCrop" type="eCH-0261:identifierType">
					<xs:annotation>
						<xs:documentation xml:lang="de">Referenz (ID) eines Objekts, wel-ches durch «NonCropObjectType» definiert ist</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element name="applicationArea" type="eCH-0261:identifierType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">ID einer georeferenzierten Anwendungsfläche</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="utilisedBy" type="eCH-0108:uidType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Unternehmen, welches das Produkt angewendet hat</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="utilisationTechnology" type="eCH-0262:utilisationTechnologyType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Verwendete Verwendungstechnologie</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="comment" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Kommentar</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:maxLength value="200"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="fertiliserUtilisationType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Anwendung Dünger</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="id" type="eCH-0261:identifierType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Identifikator</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="alternateId" type="eCH-0261:identifierType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Alternativer Identifikator</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dateOfUtilisation" type="eCH-0262:dateOfUtilisationType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Datum der Anwendung</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="product" type="eCH-0261:identifierType">
				<xs:annotation>
					<xs:documentation xml:lang="de">ID eines Dünger-Produkts</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="quantity">
				<xs:annotation>
					<xs:documentation xml:lang="de">Menge mit zugehörender Einheit des verwendeten Produkts.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="eCH-0262:measurementType">
							<xs:sequence>
								<xs:element name="value">
									<xs:simpleType>
										<xs:restriction base="xs:decimal"/>
									</xs:simpleType>
								</xs:element>
								<xs:element name="unit">
									<xs:simpleType>
										<xs:restriction base="eCH-0261:unitType">
											<xs:enumeration value="m3"/>
											<xs:enumeration value="kg"/>
											<xs:enumeration value="pc"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="unitName" minOccurs="0">
									<xs:simpleType>
										<xs:restriction base="xs:token">
											<xs:maxLength value="50"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
							</xs:sequence>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="target">
				<xs:annotation>
					<xs:documentation xml:lang="de">Grösse bzw. Anzahl der Fläche, Kulturen, Stücke etc., auf welcher das Produkt angewendet wurde mit zugehöriger Einheit.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="eCH-0262:measurementType">
							<xs:sequence>
								<xs:element name="value">
									<xs:simpleType>
										<xs:restriction base="xs:decimal"/>
									</xs:simpleType>
								</xs:element>
								<xs:element name="unit">
									<xs:simpleType>
										<xs:restriction base="eCH-0261:unitType">
											<xs:enumeration value="m2"/>
											<xs:enumeration value="pc"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="unitName" minOccurs="0">
									<xs:simpleType>
										<xs:restriction base="xs:token">
											<xs:maxLength value="50"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
							</xs:sequence>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="locationOfUtilisation" type="eCH-0108:localIdType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Standort (BUR-Nummer)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice minOccurs="0">
				<xs:element name="botanicalPlant" type="eCH-0261:identifierType">
					<xs:annotation>
						<xs:documentation xml:lang="de">Referenz (ID) einer botanischen Kultur, welche durch «botanicalPlantType» aus eCH-0265 definiert wird</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="cultivationType" type="eCH-0261:identifierType">
					<xs:annotation>
						<xs:documentation xml:lang="de">Referenz (ID) einer Nutzungsart, welche durch «cultivationTypeType» aus eCH-0265 definiert wird</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="nonCrop" type="eCH-0261:identifierType">
					<xs:annotation>
						<xs:documentation xml:lang="de">Referenz (ID) eines Objekts, welches durch «NonCropObjectType» definiert ist</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element name="applicationArea" type="eCH-0261:identifierType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">ID einer georeferenzierten Anwendungsfläche</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="utilisedBy" type="eCH-0108:uidType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Unternehmen, welches das Produkt angewendet hat</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="utilisationTechnology" type="eCH-0262:utilisationTechnologyType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Verwendete Verwendungstechnologie</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="comment" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Kommentar</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:maxLength value="200"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="feedstuffUtilisationType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Verwendung Futtermittel</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="id" type="eCH-0261:identifierType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Identifikator</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="alternateId" type="eCH-0261:identifierType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Alternativer Identifikator</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dateOfUtilisation" type="eCH-0262:dateOfUtilisationType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Datum der Verwendung</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="product" type="eCH-0261:identifierType">
				<xs:annotation>
					<xs:documentation xml:lang="de">ID eines Futtermittel-Produkts</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="quantity">
				<xs:annotation>
					<xs:documentation xml:lang="de">Menge mit zugehörender Einheit des verwendeten Produkts.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="eCH-0262:measurementType">
							<xs:sequence>
								<xs:element name="value">
									<xs:simpleType>
										<xs:restriction base="xs:decimal"/>
									</xs:simpleType>
								</xs:element>
								<xs:element name="unit">
									<xs:simpleType>
										<xs:restriction base="eCH-0261:unitType">
											<xs:enumeration value="m3"/>
											<xs:enumeration value="kg"/>
											<xs:enumeration value="pc"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="unitName" minOccurs="0">
									<xs:simpleType>
										<xs:restriction base="xs:token">
											<xs:maxLength value="50"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
							</xs:sequence>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="target">
				<xs:annotation>
					<xs:documentation xml:lang="de">Anzahl Tiere, denen das Futtermittel verfüttert wurde. </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="eCH-0262:measurementType">
							<xs:sequence>
								<xs:element name="value">
									<xs:simpleType>
										<xs:restriction base="xs:decimal"/>
									</xs:simpleType>
								</xs:element>
								<xs:element name="unit">
									<xs:simpleType>
										<xs:restriction base="eCH-0261:unitType">
											<xs:enumeration value="pc"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
							</xs:sequence>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="locationOfUtilisation" type="eCH-0108:localIdType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Standort (BUR-Nummer)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice minOccurs="0">
				<xs:element name="animalGroup" type="eCH-0261:identifierType">
					<xs:annotation>
						<xs:documentation xml:lang="de">Referenz (ID) einer Tiergruppe</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="animalCategoryPRIF" type="eCH-0261:identifierType">
					<xs:annotation>
						<xs:documentation xml:lang="de">Referenz (ID) eines Tieres aus der GRUD-Liste</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="zoologicalAnimal" type="eCH-0261:identifierType">
					<xs:annotation>
						<xs:documentation xml:lang="de">Referenz (ID) eines Tieres gemäss einer Taxonomie</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="individualAnimal" type="eCH-0261:identifierType">
					<xs:annotation>
						<xs:documentation xml:lang="de">Referenz (ID) eines Einzeltieres</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element name="utilisedBy" type="eCH-0108:uidType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Unternehmen, welches das Produkt verwendet hat</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="utilisationTechnology" type="eCH-0262:utilisationTechnologyType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Verwendete Verwendungstechnologie</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="comment" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Kommentar</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:maxLength value="200"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="utilisationTechnologyType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Verwendungstechnologie</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="id" type="eCH-0261:identifierType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Identifikator</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="alternateId" type="eCH-0261:identifierType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Alternativer Identifikator</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="descriptor" type="eCH-0261:descriptorType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Bezeichnung</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="productFamily" type="eCH-0263:productFamilyType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="de">Gibt an, für welche Produktfamilien diese Verwendungstechnologie in Frage kommt</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="productShipmentType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Lieferung eines Produkts</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="id" type="eCH-0261:identifierType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Identifikator</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="alternateId" type="eCH-0261:identifierType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Alternativer Identifikator</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="product" type="eCH-0261:identifierType">
				<xs:annotation>
					<xs:documentation xml:lang="de">ID des gelieferten Produkts.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="shippedFrom" type="eCH-0108:localIdType">
				<xs:annotation>
					<xs:documentation xml:lang="de">BUR-Nummer des abgebenden Betriebs</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="shippedTo" type="eCH-0108:localIdType">
				<xs:annotation>
					<xs:documentation xml:lang="de">BUR-Nummer des abnehmenden Betriebs</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="quantity">
				<xs:annotation>
					<xs:documentation xml:lang="de">Menge mit zugehörender Einheit.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="eCH-0262:measurementType">
							<xs:sequence>
								<xs:element name="value">
									<xs:simpleType>
										<xs:restriction base="xs:decimal"/>
									</xs:simpleType>
								</xs:element>
								<xs:element name="unit">
									<xs:simpleType>
										<xs:restriction base="eCH-0261:unitType">
											<xs:enumeration value="m3"/>
											<xs:enumeration value="kg"/>
											<xs:enumeration value="pc"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="unitName" minOccurs="0">
									<xs:simpleType>
										<xs:restriction base="xs:token">
											<xs:maxLength value="50"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
							</xs:sequence>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="shipmentDate" type="xs:date">
				<xs:annotation>
					<xs:documentation xml:lang="de">Abgangsdatum der Lieferung</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="comment" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Bemerkung</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:maxLength value="200"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="productShipmentStatus" type="eCH-0261:identifierType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Lieferstatus</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lastStatusDate" type="xs:date">
				<xs:annotation>
					<xs:documentation xml:lang="de">Letztes Datum, an welchem der Status aktualisiert wurde</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="productShipmentStatusType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Lieferstatus</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="item" type="eCH-0261:enumeratedItemType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NonCropObjectType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Liste Objekte, die keiner Kultur entsprechen</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="item" type="eCH-0261:enumeratedItemType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="dateOfUtilisationType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Datum der Verwendung</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="dateFrom" type="xs:date"/>
			<xs:element name="dateTo" type="xs:date"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="coverType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Liste Abdeckungen für Mist- oder Güllelager</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="item" type="eCH-0261:enumeratedItemType"/>
		</xs:sequence>
	</xs:complexType>
	<!--MeasurementType redefinition from eCH-0261-->
	<xs:complexType name="measurementType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Messung mit Wert und Einheit</xs:documentation>
			<xs:documentation xml:lang="fr">Mesure avec valeur et unité</xs:documentation>
			<xs:documentation xml:lang="en">Measurement with value and unit</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="value" type="xs:decimal">
				<xs:annotation>
					<xs:documentation xml:lang="de">Menge, Wert</xs:documentation>
					<xs:documentation xml:lang="fr">Quantité, valeur</xs:documentation>
					<xs:documentation xml:lang="en">Quantity, value</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="unit" type="eCH-0261:unitType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Zugehörige Einheit</xs:documentation>
					<xs:documentation xml:lang="fr">Unité associée</xs:documentation>
					<xs:documentation xml:lang="en">Associated unit</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="unitName" type="xs:token" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Genauere Bezeichnung der Einheit, wenn im Feld «unit» die Einheit «pc» (Stück) angegeben wurde.</xs:documentation>
					<xs:documentation xml:lang="fr">Désignation plus précise de l'unité, si l'unité "pc" (pièce) a été indiquée dans le champ "unit".</xs:documentation>
					<xs:documentation xml:lang="en">More precise designation of the unit if the unit "pc" (piece) was specified in the "unit" field.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--Root-Element-->
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="resourceApplication" type="eCH-0262:plantProtectionProductApplicationType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
